*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 450px;
    width: 350px;
    background-color: #eeefe9;
}
main{
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#petArea{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;

}
.indicator-area{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  height: 20%;
}
.indicator-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.indicator-text{
    color: rgb(67, 67, 67);
    font-family: 'VT323';
    font-size: 20px;
}
.indicators{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(126, 126, 126, 0.623);
    border: 2px solid rgb(67, 67, 67);
}
.hungerbar, .happybar{
    height: 100%;
    width: calc(100% /5);
    background-color: rgb(83, 83, 83);
}
#pet{
    position: absolute;
    bottom: 0;
    height: 90%;
    width: 100%;
}

#interactions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    gap: 10px;
}

.action {
    height: 50px;
    width: 100%;
    font-size: 30px;
    border-radius: 5px;
    border: 2px solid rgb(67, 67, 67);
    color: rgb(67, 67, 67);
    font-family: 'VT323';
}

